@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.logo-container{
    font-size: 80px;
    padding-top: 60px;
    padding-bottom: 40px;
}
.logo{
    text-decoration: none;
    color: rgba(75, 202, 255, 1);
}
.logo-part{
    color: #000000;
}
.page-main{
    width: 1280px;
    margin: auto;
}
.header-menu{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background:#35444F;
    height: 70px;
}
.navbar-item {
    display: inline-block;
    vertical-align: baseline;
}
.header-menu-item{
    display: block;
    color: white;
    font-size: 24px;
    text-decoration: none;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 25px 35px 19px;
    /* up, left&right, down */
    line-height: 28px;
}
.header-menu-item:hover{
    background-color: #222f3a;
    transition: 0.5s;
}
.page-main{
    display: flex;
    padding-top: 50px;
}
.aside-menu{
    height: 400px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    border: 1px solid black;
}
.aside-menu-item{
    width: 345px;
    padding-left: 42px;
    height: 80px;
    font-size: 27px;
    text-decoration: none;
    line-height: 80px;
    color: black;
}
.aside-menu-item:hover{
    background-color: rgba(219, 219, 219, 1);
    transition: 0.5s;
}
.content-section{
    padding-left: 52px;
}
.image-container{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    width: 885px;
    height: 530px;
    align-items: center;
    justify-content: center;
}
.image-container:hover .section-image{
transform: scale(1.15);
}
.section-image{
    transition: 1s;
}
.text-content1{
    padding-top: 37px;
}
.text-content, .text-content1{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 13px;
}
.page-footer{
    width: 1280px;
    margin: 54px auto 30px auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    align-items: center;
}
.footer-menu{
    width: 870px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
}
.footer-menu-item{
    display: block;
    height: 40px;
    text-decoration: none;
    color: rgba(1, 1, 1, 1);
    padding-top: 10px;
    font-size: 28px;
}
.footer-menu-item:hover{
    color: rgba(49, 129, 166, 1);
    border-bottom: 1px solid rgba(49, 129, 166, 1);
}
.text-copyright{
    font-size: 24px;
    padding-right: 40px;
}