@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header, main, footer {
    display: block;
    width: 1280px;
    margin: auto;
}
a {
    text-decoration: none;
}
.menu{
    margin: 0;
    padding-left: 0;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    text-align: center;
}
.menu-item {
    display: inline;
    padding-left: 36px;
    padding-right: 36px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.menu-item a {
    color: #ff000f;
}
h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    padding-top: 48px;
    padding-bottom: 10px;
    font-size: 22px;
}
p {
    margin: 0;
    text-align: center;
    padding-left: 67.5px;
    padding-right: 67.5px;
    padding-top: 28px;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
    font-weight: 400;
}
.btn {
    width: 191px;
    height: 51px;
    background-color: #ff0000;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    margin: 66px auto 42px auto;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 19px 0 0 0;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.footer-bar {
    height: 108px;
}
.text-footer{
    display: block;
    text-align: right;
    font-weight: bold;
    letter-spacing: 2.4px;
    font-size: 16px;
    font-weight: 700;
    padding: 40px 105px 29px 700px;
}